<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory="build/phpunit-cache"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <file>components/com_hotelbooking/src/Helper/SubformHelper.php</file>
            <file>components/com_hotelbooking/src/Helper/SchemaHelper.php</file>
            <file>components/com_hotelbooking/src/Helper/RouterSegmentHelper.php</file>
            <file>administrator/components/com_hotelbooking/src/Helper/AccessHelper.php</file>
            <file>administrator/components/com_hotelbooking/src/Helper/PartnerNotificationHelper.php</file>
            <file>plugins/privacy/hotelbooking/src/Helper/PrivacyDataHelper.php</file>
        </include>
    </source>
</phpunit>
